/IteratorInterface.class
/ListInterface.class
/GenericList.class
/CollectionsClass.class
/ComparatorInterface.class
/ComparatorInterface$1.class
/ComparableInterface.class
/Stud.class
/SetInterface.class
/MapInterface.class
